@CHARSET "UTF-8";
body{
	width:auto;
}
#message h3{
	width:90%;
	margin:10px auto;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px dashed #333;
	background:#ccc;
	
}
#message dl{
	width:90%;
	margin:0 auto;
}
#message dl dd{
	margin:5px 0;
}
#message dl dd .text{
	width:180px;
	height:19px;
	border:1px dashed #333;
	background:#fff;
}
#message dl dd textarea{
	width:100%;
	height:120px;
	background:#fff;
	border:1px dashed #333;
	overflow-y:scroll;
}
#message dl dd select{	
	background:url(../../images/x4.gif)no-repeat left center;
	width:80px;
	padding:0 0 0 15px;
}
#message dl dd select option{
	background:url(../../images/x4.gif)no-repeat left center;
	padding:0 0 0 18px;
}
#message dl dd input.submit{
	margin-left:10px;
	cursor:pointer;
}
#message dl dd .yzm{
	width:60px;
}
#message dl dd img#code{
	position:relative;
	top:5px;
	left:5px;
	cursor:pointer;
}